<div class="col-md-2" style="padding-left: 70px">
  <div class="title" id="title-project-list" routerLinkActive="active"><a routerLink="/projects/projects-list" translate>projects-list-side-bar</a></div>
  <div  class="title" routerLinkActive="active"><a routerLink="/projects/new-project" translate>new-side-bar</a></div>
  <div class="sidebar-item" style="margin-top: 10px">
    <div class="input-group" routerLinkActive="active"><a routerLink="/projects/new-project" translate>project-side-bar</a></div>
    <div class="input-group" ><a translate>customer-side-bar</a></div>
    <div class="input-group" ><a translate>supplier-side-bar</a></div>
  </div>
</div>
<router-outlet></router-outlet>
