<div class="col-md-2">
  <div class="title" id="title-project-list">Projects list</div>
  <div class="title">New</div>
  <div class="sidebar-item" style="margin-top: 10px">
    <div class="input-group" routerLinkActive="active"><a routerLink="/projects/new-project">Project</a></div>
    <div class="input-group" routerLinkActive="active" ><a routerLink="/projects/projects-list">Customer</a></div>
    <div class="input-group" routerLinkActive="active" ><a >Supplier</a></div>
  </div>
</div>
<router-outlet></router-outlet>
