<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/">
        <img src="../../assets/img/logo_elca.png"
             class="navbar-brand"
             alt="Brand">
      </a>
      <p class="navbar-text">
        Project Information Management
      </p>
    </div>

    <!--    <div class="collapse navbar-collapse">-->
    <div class="navbar-right-custom">
      <div class="navbar-right" id="language-local">
        <a>EN</a>|<a>FR</a>
      </div>
      <div id="action-bar">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active">
            <a routerLink="/help"
            >Help
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/logout">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--      <ul class="nav navbar-nav navbar-right">-->
    <!--        <li routerLinkActive="active">EN</li>-->
    <!--        <li routerLinkActive="active">FR</li>-->
    <!--      </ul>-->
    <!--    </div>-->
  </div>
</nav>

