<div class="container">
  <div class="row flex-container" style="display: flex; justify-content: center; margin-top: 100px">
    <img src="../../assets/img/error.png" class="img-circle"
         style=" max-width: 200px;">
    <h3 style="margin-left: 30px; margin-top: 50px; font-weight: bold">
      Unexpected error occurred.
      <h3 style="font-weight: bold">
        Please <a routerLink="">Contact your administrator</a>
      </h3 >
      <h3 style="font-weight: bold">or <a routerLink="/projects/projects-list">Back to search project</a></h3>
    </h3>
  </div>

</div>
