form label {
  display: flex;
  margin-left: 30px;
  text-align: start;
  font-family: "Segoe UI Semibold";
  font-size: 14pt;
  color: #666666;
  padding-left: 0px;
}

.required .control-label::after {
  content: ' *';
  color: red;
}

.form-group {
  margin-bottom: 38px;
}

input {
  height: 30px;
}

select {
  height: 30px;
}

.btn {
  border-radius: 7px;
  height: 35px;
  /*width: 190px;*/
  width: 100%;
}

.btn-cancel {
  margin-right: 50px;
  background-color: #B9B9B9;
  color: black;
}

.btn-create {
  color: white;
  background-color: #2F85FA;
}

/*.btn:hover {*/
/*  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.19);*/
/*}*/
select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}
