<div class="col-md-10" style="border-left: 1px solid gray;">
  <div style="font-weight: bold; color: #666666"> Projects List</div>
  <hr>
  <form [formGroup]="listProjectsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <input type="search" class="form-control"
               [(ngModel)]="criteria"
               formControlName="search"
               placeholder="Project number, name, customer name">
      </div>
      <div class="form-group col-md-3">
        <select class="form-control" [(ngModel)]="status" formControlName="status">
          <!--          <option value="Project Status" hidden>Project Status</option>-->
          <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary" style="width: 150px">Search Project</button>
      </div>
      <div class="form-group col-md-3" style="padding-left: 70px; font-weight: bold;margin-top: 5px"><a
        style="cursor: pointer;" (click)="onReset()">Reset Search</a></div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Customer</th>
      <th scope="col">Start Date</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let project of projects;">
      <td><input type="checkbox" (change)="onChangeItemDelete($event, project)"/></td>
      <td>
        <a style="cursor: pointer"
           [routerLink]="['../', project.projectNumber,'edit']"
           [queryParams]="{allowEdit: '1'}">
          {{ project.projectNumber }}
        </a>
      </td>
      <td>{{ project.name }}</td>
      <td>{{ project.status }}</td>
      <td>{{ project.customer }}</td>
      <td>{{ project.startDate}}</td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Delete" *ngIf="project.status === 'New'">
          <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                  (click)="deleteProject(project.projectNumber)"
                  data-target="#delete"><span
            class="glyphicon glyphicon-trash"></span></button>
        </p>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr *ngIf="deleteList.length > 0">
      <td colspan="100%">
        <div style="display: flex; justify-content: space-between">
          <div style="color: #2F85FA">{{deleteList.length}} items selected</div>
          <div style="color: orangered">delete selected items
            <button (click)="deleteListProjects()" class="btn btn-danger btn-xs"><span
              class="glyphicon glyphicon-trash"></span></button>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
  <div class="clearfix"></div>
  <!--  <ul class="pagination pull-right" id="pagination-custom">-->
  <!--    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>-->
  <!--    &lt;!&ndash;    <li><a href="#"><img src="assets/img/previous_page.png"></a></li>&ndash;&gt;-->
  <!--    <li class="active"><a href="#">1</a></li>-->
  <!--    <li><a href="#">2</a></li>-->
  <!--    <li><a href="#">3</a></li>-->
  <!--    <li><a href="#">4</a></li>-->
  <!--    <li><a href="#">5</a></li>-->
  <!--    &lt;!&ndash;    <li><a href="#"><img src="assets/img/nextpage_icon.png"></a></li>&ndash;&gt;-->
  <!--    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>-->
  <!--  </ul>-->
  <!--  <button class="btn btn-primary" (click)="fetchData()">fetch Data</button>-->
</div>
