<div class="col-md-9" style="border-left: 1px solid gray;">
  <div style="font-weight: bold; color: #666666" translate>projects-list-title</div>
  <hr>
  <form [formGroup]="listProjectsForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <input type="search" class="form-control"
               [(ngModel)]="criteria"
               formControlName="search"
               placeholder="{{'search-criteria' | translate}}">
      </div>
      <div class="form-group col-md-3">
        <select class="form-control" [(ngModel)]="status" formControlName="status">
          <!--          <option [value]="null" [disabled]="true">Project Status</option>-->
          <option *ngFor="let status of statuses" [ngValue]="status" translate>{{status}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button class="btn btn-primary" style="width: 150px" translate>search-project</button>
      </div>
      <div class="form-group col-md-3" style="padding-left: 70px; font-weight: bold;margin-top: 5px"><a
        style="cursor: pointer;" (click)="onReset()" translate>reset-search</a></div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>col-number</th>
      <th scope="col" translate>col-name</th>
      <th scope="col" translate>col-status</th>
      <th scope="col" translate>col-customer</th>
      <th scope="col" translate>col-start-date</th>
      <th scope="col" translate>col-delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let project of projects;">
      <td style="text-align: center;"><input type="checkbox" style="height: 15px; width: 15px"
                                             (change)="onChangeItemDelete($event, project)"/></td>
      <td style="text-align: end">
        <a style="cursor: pointer"
           [routerLink]="['../', project.id,'edit']"
           [queryParams]="{allowEdit: '1'}">
          {{ project.projectNumber }}
        </a>
      </td>
      <td>{{ project.name }}</td>
      <td translate>{{ project.status }}</td>
      <td>{{ project.customer }}</td>
      <td style="text-align: center">{{ project.startDate | date:'dd/MM/yyyy'}}</td>
      <td style="text-align: center">
            <span *ngIf="project.status === 'New'" style="color: orangered; cursor: pointer; margin: 0px"
                  (click)="deleteProject(project.projectNumber)" class="glyphicon glyphicon-trash"></span>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr *ngIf="deleteList.length > 0">
      <td colspan="100%">
        <div style="display: flex; justify-content: space-between">
          <div style="color: #2F85FA">{{deleteList.length}} items selected</div>
          <div style="color: orangered; margin-right: 25px">delete selected items
            <span class="glyphicon glyphicon-trash" (click)="deleteListProjects()" style="cursor: pointer"></span>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
  <div class="clearfix"></div>
  <ul class="pagination pull-right" id="pagination-custom">
    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li *ngFor="let index of sizeProject"><a style="cursor: pointer" (click)="pagination(index-1)">{{index}}</a></li>
    <li><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</div>
